@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

body {
	margin: 30px 30px 200px;
	font-family: "PT Serif", serif;
	color: #333;
	font-size: 16px;
	line-height: 24px;
}

h2.section {
	margin-top: 120px;
}

pre, code, tt, textarea {
	font-family: "Menlo", "Monaco", "Courier New", monospace;
}

tt, .select-all {
	background-color: #eee;
}

td {
	vertical-align: top;
	padding: 8px;
}

pre.file {
	white-space: pre-wrap;
	background-color: #ddd;
	color: #334;
	padding: 8px;
	border-radius: 4px;
	border: 0;
}
pre.file span.slot {
	background: #fff;
	cursor: pointer;
}
pre.file span.slot:hover {
	background: #ffc;
}
pre.file strong {
	color: #000;
	background: #fff;
	border-radius: 4px;
}

pre.terminal {
	white-space: pre-wrap;
	background-color: #000;
	color: #ccc;
	padding: 8px;
	border-radius: 4px;
	border: 0;
}
pre.terminal .prompt {
	color: #fff;
}
pre.terminal .input {
	color: #ff0;
	/*font-weight: bold;*/
}
pre.terminal strong {
	color: #fff;
	background: #333;
	border-radius: 4px;
}

div.popup {
	position: absolute;
	display: inline-block;
	max-width: 20em;
	background: #fff;
	border-radius: 8px;
	border: 1px solid #ccc;
	padding: 8px;
	box-shadow: 4px 4px 4px #888;
}

div.footnotes {
	background: #faf1c0;
	margin: 120px 60px;
	padding: 8px;
	border-radius: 4px;
}
div.footnotes h2 {
	margin-top: 0;
}
div.footnotes pre.file {
	background-color: #ffd;
}
div.footnotes pre.file span.slot {
	background: #faf1c0;
}
div.footnotes pre.file span.slot:hover {
	background: #fff;
}
div.footnotes tt {
	background-color: #ffe;
}

.callout {
	margin: 30px;
	background: #faf1c0;
	padding: 20px;
}
.callout span {
	font-weight: bold;
}

.pending {
	font-style: italic;
}